{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'support_style.css' %}">
</head>
    <body>
{% include 'navbar_user.html' %}


    <div class="support_form">
    <h3>Запрос на поддержку</h3>
<form method="POST" id="myForm">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input class="submit" type="submit" value="Отправить запрос">
</form>
    </div>

<script>
    const myForm = document.getElementById('myForm')
    async function postData(url, data) {
    // Default options are marked with *
    const response = await fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    redirect: 'follow', // manual, *follow, error
    referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
    body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  return response.json(); // parses JSON response into native JavaScript objects
}

    myForm.addEventListener('submit', function (e){
        e.preventDefault()
        topic = document.getElementById('topic').value
        name = document.getElementById('name').value
        phone_number = document.getElementById('phone_number').value

        postData('/api/support_requests', {
            'name': name.toString(),
            'topic': topic.toString(),
            'phone_num': phone_number.toString(),
            'date': String(new Date().toISOString().slice(0, 10))
        })
        window.location.href = '/u/support_success/'
    })
</script>



</body>
</html>